<!DOCTYPE html>
<html>
<head>
    <title>Peer-to-Peer File Sharing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Peer-to-Peer File Sharing</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            {% if 'user_id' not in session %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('signup') }}">Signup</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>