{% extends "base.html" %}

{% block content %}
<h2>Download Files</h2>
<table>
    <thead>
        <tr>
            <th>File Name</th>
            <th>Uploaded By</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td>{{ file.file_name }}</td>
            <td>{{ file.uploaded_by }}</td>
            <td><a href="{{ url_for('download_file', filename=file.file_name) }}">Download</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}