<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome, {{ user.username }}</h1>
        <nav>
            <a href="{{ url_for('upload_file') }}">Upload</a>
            <a href="{{ url_for('list_files') }}">Download</a>
            <a href="{{ url_for('forum') }}">Forum</a>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </nav>
    </header>
</body>
</html>